:root {
  --content-width: 100dvw;
  --diagonal-box-translate-y: -550px;
  --skew-angle: -31deg;
  --accent-color: #0891b2;
  --text-gray: #565656;
}

body {
  font-family: Roboto, sans-serif;
  display: grid;
  gap: 48px;
}

.main {
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(var(--skew-angle))
    translateY(var(--diagonal-box-translate-y));
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

.section {
  position: relative;
  display: grid;
  gap: 12px;
  margin: 16px;
}

.image-wrapper {
  position: relative;
  margin: 12px 16px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
}

.image {
  object-fit: cover;
  width: 100%;
}

.main__title {
  position: absolute;
  bottom: 0px;
  transform: translate(12px, 8px);
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  text-align: center;
}

.title--white {
  color: white;
}

.title--shadow {
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}

.title--4xl {
  font-size: 2.25rem;
}

.title--5xl {
  font-size: 3rem;
}

.title--start {
  text-align: start;
}

.text {
  color: var(--text-gray);
}

.text--lg {
  font-size: 1.125rem;
}

.text--xl {
  font-size: 1.25rem;
}

.text--2xl {
  font-size: 1.5rem;
}

.icon-links {
  margin-inline: auto;
  display: flex;
  gap: 16px;
}

.icon-links--black {
  color: black;
}

.icon-link {
  display: flex;
  align-items: center;
}

.projects {
  display: grid;
  gap: 60px;
}

.project {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.project__img {
  min-height: 275px;
  width: 100%;
  object-fit: cover;
}

.project__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project__header {
  display: flex;
  justify-content: space-between;
}

.project__title {
  margin-inline-start: 16px;
}

.project__desc {
  padding-inline: 8px;
}

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer {
  background-color: var(--accent-color);
  color: white;
  margin-block-start: 72px;
}

.address {
  margin-block: 16px;
}

.footer__links {
  font-size: 2.25rem;
  gap: 28px;
}

.footer__img {
  padding-block-start: 64px;
  min-height: 600px;
  object-fit: cover;
}

@media (width >= 46rem) {
  :root {
    --skew-angle: -15deg;
    --diagonal-box-translate-y: -360px;
    --content-width: 70dvh;
  }

  .section {
    margin-inline: 81px;
  }

  .image-wrapper {
    transform: translateX(-55px);
    width: 350px;
    height: 375px;
  }

  .image {
    height: 100%;
  }

  .main__title {
    top: 0;
    transform: translateX(92%);
  }

  .content {
    padding: 24px;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  }

  .icon-links {
    display: none;
  }
}
